/* Base Styles */

:root {
    font-size: 10px;
}



body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: black;
    color:white;
    padding-bottom: 3rem;
}

img {
    display: block;
}
/* Regular styles for desktop */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
  }
  
  .profile-user-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .profile-user-name {
    font-size: 26px;
    font-weight: 600;
    margin-left: 20px;
  }
  
  .profile-stats {
    margin-top: 30px;
    margin-right: 100px;
  }
  
  .profile-stats ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    justify-content: center;

  } 
  .profile-stats li{
    margin-left:2px;
    padding-left: 20px;
    color: white;
    
  }

  
  .profile-stat-count {
    font-size: 16px;
    font-weight: 600;
    margin-right: 1px;
  }
  
  .profile-bio {
    margin-top: 30px;
    text-align: center;
  }
  
  .profile-bio p {
    font-size: 18px;
    font-weight: 600;
  }
  
  .btn {
    display: inline-block;
    background-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .profile-edit-btn {
    background-color: #fff;
    color: #3897f0;
    border: 1px solid #3897f0;
  }
  
  .profile-edit-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .profile-settings-btn {
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 24px;
  }
  
  .profile-settings-btn:hover {
    color: #3897f0;
  }

/*-----------The photo gallery part------------*/

  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px
}


.gallery-image {
    width: 150px;
    height: 150px;

}

.gallery-item-info {
    background-color: rgba(223, 188, 188,.6);
    color: black;
    padding: 5px;
    margin-left: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    position: relative;
    top: -30%; /* Adjust vertically */
    left: 50%; /* Adjust horizontally  */
    transform: translate(-70%, -50%);

}


.gallery-item:hover .gallery-item-info {
    opacity: 1;
}

.gallery-item-likes,
.gallery-item-comments {
    margin-right: 50px;
    font-size: 14px;

}

.gallery-item-comments{
  right:  ;
}

.gallery-item-likes,
.gallery-item-comments li{
    list-style-type: none;
}

.gallery-item-comments,
.gallery-item-likes li{
    list-style-type: none;
}

.visually-hidden, .gallery-item-type{
   visibility: hidden;
}


.fa-comment {
    padding-left: 45px;
    
}

/*media query to make website responsive*/
@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .profile-user-settings {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        margin-top: 20px;
      }
    
      .profile-user-name {
        margin-left: 0;
        margin-top: 10px;
      }
    
      .profile-stats {
        margin-top: 20px;
      }
    
      .profile-bio {
        margin-top: 20px;
      }
    
      .btn {
        margin: 10px 0;
      }
}
  

  
